/* CSS Variables */
:root {
    --primary-color: #1180db;
    --secondary-color: #333;
    --background-color: rgba(255,255,255,0.7);
    --border-radius: 5px;
    --transition: all 0.5s ease-in-out;
}

/* Global Styles */
* {
	box-sizing: border-box;
	font-family: 'kalpurush', sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {

    .navbar {
      flex-direction: column;
    }
    
    .navbar ul {
      padding: 10px 0;
    }
    
}

body {
    height: 100vh;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 1.2;
    font-size: 16px;
}

h1, h2, h3 {
    line-height: 1.2;
}

a {
    text-decoration: none;
}

input,
select,
textarea {
	height: 30px;
	border: 1px solid grey;
	border-radius: var(--border-radius);
}

/* Reusable Styles */
.form-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-field label {
    flex-basis:30%;
}

.form-field input {
    flex-basis: 70%;
}

.btn {
    display: block;
    border-radius: var(--border-radius);
    margin: 10px auto;
    width: 130px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-2px);
}

/* Container Styles */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

/* Login Page Style */
.login-top {
    text-align: center;
    padding: 10px 0;
}

.office-logo img {
    max-width: 80px;
}

.office-name {
    font-size: 1.5em;
    margin: 10px;
}

.login-main {
    flex: 1;
    padding: 10px;
}

.login-box {
    max-width: 300px;
    margin: 0 auto;
    background: var(--background-color);
    border-radius: 10px;
}

.login-box h2 {
    font-size: 1.4em;
    text-align: center;
}

.login-form {
    padding: 10px;
}

.show-password {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto; 
}

footer {
    text-align: center;
    padding: 5px 0;
}

/*----- Start of login page styles------*/

/* -----start of header styles----- */

.common-header {
    display: flex;
    border-bottom: 2px solid #1180db;
    background: var(--background-color);
}

.common-header div {
    flex: 33%;
}

.common-header .office-logo img {
    display: block;
    float: right;
    margin: 10px 100px;
}

.office-name {
    text-align: center;
}

.app-name {
    margin: auto;
}

/* -----end of header styles----- */

/*-----start of home page-----*/

nav ul {
    background-color: #1180db;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 5px 40px;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    transition: var(--transition);
}

.nav-submenu {
    display: none;
}

nav ul li:hover .nav-submenu {
    display: block;
    position: absolute;
    transition: var(--transition);
}

.content-main {
    min-height: 60vh;
    margin: 0 auto;
    background: var(--background-color);
    border-radius: var(--border-radius);
    padding: 10px;
}

.home-intro h2, .content-title h2 {
    text-align: center;
    margin: 5px auto;
}

.home-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-action div {
    width: 300px;
    background-color: aqua;
    border-radius: var(--border-radius);
    margin: 5px;
    text-align: center;
}

/*-----end of home page-----*/

